<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:8081/studs</property>
        <property name="hibernate.connection.username">login</property>
        <property name="hibernate.connection.password">password</property>


        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="back.server.model.Citizen"/>
        <mapping class="back.server.model.Coordinates"/>
        <mapping class="back.server.model.User"/>

    </session-factory>
</hibernate-configuration>