.calendar {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    /* background: #F1F0E8; */
    color: #89A8B2;
    margin-top: 70px;
}

.times {
    position: relative;
    width: 10%;
    border-right: 1px solid #ddd;
    padding: 10px 0;
}

.line-holder {
    position: relative;
    height: 60px;
    border-bottom: 1px dashed #ddd;
}

.half-of-hour {
    position: absolute;
    width: 90%;
    text-align: right;
    padding-right: 10px;
    font-size: 0.9em;
    color: #89A8B2;
}

.data-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
}

.date {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-left: 1px solid #ddd;
    position: relative;
    padding: 5px;
}

.date:first-child {
    border-left: none;
}

.date-num {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
    right: 0px;
}

.date-day {
    font-size: 0.9em;
    color: #89A8B2;
    right: 0px;
}

.lesson {
    position: absolute;
    width: 90%;
    padding: 5px;
    background-color: #ddd;
    color: #555;
    border-radius: 0px 4px 4px  0px;
    font-size: 0.9em;
    cursor: pointer;
    z-index: 5;
    transition: 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.create-lesson {
    position: absolute;
    width: 90%;
    left: 5%;
    padding: 5px;
    background-color: #ffffff00;
    color: #ffffff00;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
}

.lesson:hover {
    transform: translateY(-4px); 
    z-index: 10;
    box-shadow: 0px 0px 10px #33333350;
}

.create-lesson:hover {
    color: #555;
    background: #72DAD3;
}

.day-header {
    right: 0px;
}

.lesson-time {
    font-size: 14px;
    font-weight: bold;
    color: #555; 
    margin-bottom: 4px; 
    display: flex;
}

.lesson-details {
    text-align: left;
}

.lesson-heading {
    font-size: 18px;
    font-weight: 600;
    color: #333; 
    margin-bottom: 4px; 
}

.lesson-duration,
.lesson-tutors {
    font-size: 14px;
    color: #777; 
    margin: 4px 0;
}

.week-buttons {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.delete-button {
    background-color: #EB7C6C;
}

.delete-button:hover {
    background-color: #eb6b57;
}

.deletion-modal-buttons {
    display: flex;
    gap: 0.5em;
}