.chat-holder {
    position: fixed;
    top: 0;
    right: 0;
    background: #F1F0E8;
    height: 100%;
    width: 20%;
    z-index: 50;
}

.users-in-chat {
    display: flex;
    gap: 1.5em;
}

.chat {
    margin-top: 1em;
    position: relative;
    width: 90%;
    padding: 5px;
    color: #555;
    font-size: 0.9em;
    z-index: 5;
    transition: 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 6em;
    cursor: pointer;
}

.chat:hover {
    transform: translateY(-4px);
    z-index: 6;
    box-shadow: 0px 0px 10px #33333350;
}

.chat-w-pic {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.users-and-msg {
    display: grid;
    gap: 0.5em;
}

.first-msg {
    color: #89a8b2;
}

.messages {
    display: grid;
    gap: 0.2em;
    padding-bottom: 10em;
}

.outcome {
    position: relative;
    width: 90%;
    padding: 5px;
    color: #555;
    font-size: 0.9em;
    z-index: 5;
    transition: 0.2s;
    background-color: #B5E4E8;
    border-radius: 4px;
}

.income {
    position: relative;
    width: 90%;
    padding: 5px;
    color: #555;
    font-size: 0.9em;
    z-index: 5;
    transition: 0.2s;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.chats {
    display: block !important;
}

.msg-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.7em;
    color: #89a8b2;
    display: flex;
    gap: 0.5em;
}

.msg-text {
    margin-top: 1em;
}

.msg-author {
    font-weight: 600;
}

.chat-input {
    position: fixed;
    display: flex;
    gap: 0.5em;
    right: 0px;
    bottom: 0px;
    background-color: #f9f9f9;
    border-radius: 4px;
    z-index: 30;
    width: 40%;
    height: fit-content;
    padding: 1em 2em 1.5em 2em;
}

.day-delimiter {
    color: #89a8b2;
    border-bottom: 1px solid #89a8b2;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.editing-msg {
    position: absolute;
    top: 5px;
    right: 1.5em;
    cursor: pointer;
}