.filters {
    /* margin-top: 70px; */
    display: flex;
    gap: 0.5em;
}

.filter {
    padding: 5px 10px;
    background-color: #e7eef1;
    color: #555;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8em;
    transition: 0.3s;
    max-width: fit-content;
}

.filter:hover {
    background-color: #B5E4E8;
    color: #333;
}

.chosen {
    background-color: #72DAD3;
    color: white;
}